@media all and (max-width: 670px){
  
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  body {
    padding: 0, 15px;
  }
  
  .atas {
    text-align: left;
  }

  .atas h1 {
    font-size: 40px;
    line-height: 36px;
  }
  
  .atas h2 {
    font-size: 20px;
  }
  
  .atas p {
    font-size: 12px;
  }

  footer {
    width: 100%;
    float: left;
    text-align: center;
  }
  
  .footer-right {
    display: none;
  }
}
