@media all and (max-width: 670px){

  .atas {
    text-align: left;
  }

  .atas h1 {
    font-size: 40px;
    line-height: 36px;
  }
  
  .atas h2 {
    font-size: 20px;
  }
  
  .atas p {
    font-size: 12px;
  }

  footer {
    width: 100%;
    text-align: left;
  }
  
}
