@media all and (max-width: 760px){
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  header {
    width: 100%;
  }
  
  .atas {
    text-align: left;
  }

  .atas h1 {
    font-size: 40px;
    line-height: 36px;
  }
  
  .atas h2 {
    font-size: 20px;
  }

  footer {
    width: 100%;
    text-align: center;
  }
  
  .footer-right {
    display: none;
  }
}
