* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background-color: rgba(34, 49, 52, 0.9);
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-logo {
  float: left;
  line-height: 85px;
  padding-left: 20px;
}

.logo {
  width: 124px;
}

.atas {
  background-image: url(background.jpg);
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
}

.atas h1 {
  font-size: 45px;
  letter-spacing: 5px;
  padding-bottom: 10px;
  opacity: 0.9;
}

.atas h2 {
  font-size: 30;
  opacity: 0.9;
  padding-bottom: 20px
}

.atas h3 {
  font-size: 15px;
  opacity: 0.9;
}

.tengah {
  height: 580px;
  background-color: #dfe4ea;
}

footer {
  background-color: #2f3542;
  font-family: cardo;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  height: 70px;
}

footer h2 {
  font-size: 25px;
  opacity: 0.7;
}

footer h3 {
  font-size: 12px;
  opacity: 0.7;
}

.footer-left {
  float: left;
}
